.standarts {
  @extend %h2;
  letter-spacing: normal;
  color: #fff;
  background: linear-gradient(180deg, #163da2 0%, #003584 100%);

  &__container {
    @include onTablet {
      margin-bottom: 20px;
    }

    @include onDesktop {
      margin-bottom: 90px;
    }
  }

  &__row {
    display: flex;
  }

  &__picture {
    width: 100%;
    @include onTablet {
      margin-left: -20px;
    }

    @include onDesktop {
      margin-left: -30px;
    }

    @include onLargeScreen {
      margin-left: -40px;
    }
  }

  &__image {
    display: inline-block;

    @include onTablet {
      object-fit: fill;
      object-position: center;
    }
  }

  &__title {
    padding-top: 39px;
    padding-bottom: 16px;
  }

  &__text {
    font-family: "Noto Sans", sans-serif;
    letter-spacing: -0.4px;
    line-height: 2rem;
    font-weight: 400;
    max-width: 500px;
  }

  &__content {
    @include onTablet {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
