%h1 {
  font-family: "Reith Sans", sans-serif;
  color: #1652ac;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: -0.4px;
}

%h2 {
  font-family: "Reith Sans", sans-serif;
  color: #1652ac;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 2.42px;
}

%h3 {
  font-family: "Reith Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 4.42px;
}
