$enable-negative-margins: true;
$navbar-light-toggler-icon-bg: url("../images/toggler.svg");
$navbar-light-toggler-border-color: transparent;
$navbar-brand-padding-y: 0;
$navbar-padding-y: 5px;
$font-family-sans-serif: "Noto Sans", sans-serif;
$font-size-root: 17px;
$lead-font-size: 1rem;
$navbar-light-hover-color: #2e75ff;
$navbar-light-border-hover-color: #eaedf5;
$navbar-light-color: #45494f;
$body-bg: #fbfbfc;

$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 1rem;
$nav-link-color: #fff;
$nav-link-hover-color: #fff;
$nav-link-transition: color 500ms ease-in-out,
  background-color 500ms ease-in-out,
  border-color 500ms ease-in-out;
